@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #ffffff;
}

.logo-left {
    line-height: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navbar {
    background-color: #ffffffff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    position: fixed;
    width: 100%;
    z-index: 99;
}
.navbar_link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
}
.navbar_items {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    line-height: 1.375px;
    padding-right: 20px;
}
.back-color:hover {
    background-color: black;
}
.active {
    color: #000000;
    font-weight: bolder;
    border-bottom: 3px solid #000000;
}

/* bannier de la page */
.inner-banniere {
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 65vh;
    background-color: #f8f9fa;
    text-align: center;
}

.inner-banniere h1 {
    text-transform:uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
}   

.inner-banniere p {
    margin-top: 40px;
}
.inner-banniere a {
    margin: 0 15px;
}

/* le corps de la page */
.nos_programme h1 {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.international {
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif; 
}
.inner_rgb {
    background-color: #f8f9fa;
}

/* footer mode  */
.footer_mod {
    background-color: #f8f9fa;
}
.footer_mod h6 {
    margin-bottom:30px;
    margin-top: 30px;
}
.right {
    text-align: center;
}

/* formulaire d'inscription  */

input[type=email], [type=password] {
    width: 80%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 2px; 
    margin-bottom: 16px;
    resize: vertical;
  }

.container-grid {
    margin: 5%;
}
.form_grid {
    display: flex;
    background-color: #f8f9fa;
    margin: auto;
    width: 35%;
    padding: 30px;
    justify-content: center;
    justify-items: center;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    font-family: 'Nunito', sans-serif;
}
.form_items {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.form_items h3, h6 {
    font-weight: bold;
}